<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-sm-2 layout">
                <div>
                <%- include("partials/sidebar") %>
                </div>
                <div>
                    <h1>Title: <%= title %></h1> 
                    <span><b><a href="<%= book.author.url %>">Author</a>:</b><%= book.author.name %></span>
                    <div><b>Summary: </b><span><%= book.summary %></span></div>
                    <div><b>ISBN: </b><span><%= book.isbn %></span></div>
                    <div><b>Genre:</b>
                    <% if(book.genre){ %>
                    <span>
                    <% book.genre.forEach((val, ind) => { %>
                        <span><%= val.name.trim() %></span>
                        <% if(ind + 1 !== book.genre.length){ %>
                            <span>, </span>
                        <% } %>
                    <% }) %>
                    </span>
                    <% } %>
                    </div>
                    <h4>Copies</h4>
                    <hr>
                    <% if(book_instances) { %> 
                        <% book_instances.forEach( val => { %> 
                            <div>
                                <div><b><%=val.status%></b></div>
                                <div><b>Imprint:</b><%= val.imprint %></div>
                                <% if(val.due_back){ %>
                                    <div><b>Due back:</b><%= val.due_back %></div>
                                <% } %>
                                <div><b>id:</b><%= val.book%></div>
                            </div>
                            <br>
                        <%}) %>
                    <% } %> 

                </div>
            </div>
        </div>
    </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>
